main {
    margin-top: 2rem;
}

.noticia_banner {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1rem;
    width: 80%;
    height: 45rem;
    margin: 0 auto;
    background-image: url('../../public/img/detalles_noticia/equipo_celebrando.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.noticia_detalle {
    padding-top: 2rem;
    display: flex;
    flex-flow: column;
}

.noticia_detalle h1 {
    font-size: 3rem;
}

.noticia_meta {
    padding-top: 1rem;
    color: #555;
}

.noticia_meta time {
    background-color: #DC2626;
    color: white;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    font-size: 1.2rem;
    padding-right: 1rem;
}

.noticia_meta span {
    font-size: 1.3rem;
}

.noticia_texto {
    padding-top: 1rem;
}

.noticia_texto p {
    font-size: 1.6rem;
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

.noticia_detalle a {
    padding-top: 1rem;
    margin-top: 1rem;
    background-color: gray;
    color: black;
    text-align: center;
    width: 18%;
    height: 4rem;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.noticia_detalle a:hover {
    background-color: #DC2626;
    color: white;
}

.separador-noticia {
    margin: 2rem 0;
    border: none;
    height: 3px;
    width: 60px;
    background-color: #DC2626;
}

.noticias_relacionadas {
    padding-top: 1rem;
}

.noticias_grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.noticia_card {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: transform 0.3s, box-shadow 0.3s;
}

.noticia_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.noticia_imagen1 {
    background-image: url("../../public/img/detalles_noticia/equipo_celebrando2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 1rem;
    height: 32rem;
}

.noticia_imagen2 {
    background-image: url("../../public/img/detalles_noticia/nueva_incorporacion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 1rem;
    height: 32rem;
}

.noticia_imagen3 {
    background-image: url("../../public/img/detalles_noticia/proximo_partido.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 1rem;
    height: 32rem;
}

.noticia_contenido {
    display: flex;
    flex-flow: column;
    padding-left: 1.5rem;
    padding-top: 1rem;
}

.noticia_contenido h3 {
    font-size: 2rem;
}

.noticia_contenido small {
    color: #777;
    font-size: 1.1rem;
    margin-top: 0.3rem;
}

.noticia_contenido p {
    padding-top: 0.5rem;
    font-size: 1.2rem;
}

@media (max-width: 768px) {

    .noticia_banner {
        width: 100%;
        height: 22rem;
        padding: 0;
    }

    .noticia_detalle {
        padding: 1.5rem;
    }

    .noticia_detalle h1 {
        font-size: 2.2rem;
        line-height: 1.3;
    }

    .noticia_meta {
        font-size: 1.2rem;
    }

    .noticia_texto p {
        font-size: 1.4rem;
    }

    .noticia_detalle a {
        width: 100%;
        height: 4.5rem;
        font-size: 1.4rem;
    }

    .noticias_grid {
        grid-template-columns: 1fr;
    }

    .noticia_imagen {
        height: 22rem;
    }

    .noticia_contenido h3 {
        font-size: 1.6rem;
    }

    .noticia_contenido p {
        font-size: 1.1rem;
    }
}
