@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #e0e0e0;
}

body {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #DC2626;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img:first-child {
    width: 80px;
    margin-left: 1rem;
}

header img:last-child {
    width: 80px;
    margin-right: 1rem;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: block;
    padding: 1.5rem;
    font-size: 2rem;
    color: white;
}

header ul li a:hover {
    color: black;
    transition: color 0.3s;
}

footer {
    background-color: black;
    margin-top: 4rem;
}

.footer-derechos {
    text-align: center;
    padding: 1.5rem;
}

.footer-derechos p {
    font-size: 1rem;
    color: #aaa;
}

@media (max-width: 768px) {

    body {
        width: 100%;
        margin: 0;
    }

    header {
        flex-direction: column;
        padding: 1rem 0;
    }

    header ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header ul li a {
        font-size: 1.6rem;
        padding: 1rem;
    }

    header img:first-child,
    header img:last-child {
        width: 60px;
        margin: 0.5rem 0;
    }
}