.acceso {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.acceso_contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    margin-top: 3rem;
    position: relative;
}

.acceso_contenedor::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10%;
    height: 80%;
    width: 1px;
    background-color: #ccc;
}

.login,
.registro {
    display: flex;
    flex-direction: column;
}

.login h1,
.registro h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.form_login,
.form_registro {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.campo input {
    width: 100%;
    height: 4.5rem;
    background-color: #d9d9d9;
    border: none;
    border-radius: 6px;
    padding: 0 1.2rem;
    font-size: 1.4rem;
}

.opciones {
    font-size: 1.2rem;
}

.btn_principal {
    padding-top: 1rem;
    width: 100%;
    height: 4.5rem;
    background-color: #DC2626;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.btn_principal:hover {
    background-color: #b91c1c;
}

.enlace {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #DC2626;
    text-align: center;
}

.enlace:hover {
    text-decoration: underline;
}

.acceso_info {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.3rem;
}

.acceso_unico {
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 0 auto;
}

.acceso_unico::before {
    display: none;
}

@media (max-width: 768px) {

    .acceso_contenedor {
        grid-template-columns: 1fr;
        gap: 4rem;
        margin-top: 2rem;
    }

    .acceso_contenedor::before {
        display: none;
    }

    .login h1,
    .registro h1 {
        font-size: 2.4rem;
        text-align: center;
    }

    .form_login,
    .form_registro {
        padding: 0 1.5rem;
    }

    .campo input {
        height: 5rem;
        font-size: 1.5rem;
    }

    .btn_principal {
        height: 5rem;
        font-size: 1.6rem;
    }

    .opciones {
        font-size: 1.3rem;
    }

    .enlace {
        text-align: center;
        font-size: 1.3rem;
    }

    .acceso_info {
        padding: 0 1.5rem;
        font-size: 1.2rem;
        text-align: center;
    }
}
